.wrapper{
    margin-top:15%;
    display: flex;
    justify-content: space-around;
}

button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20pt;
    margin: 50px;
    padding: 25px;
    border-radius: 15px;
}
.green{
    background-color: green;
    color: rgb(142, 233, 142);
}
.blue{
    background-color: blue;
    color: rgb(162, 162, 255);
}
.pink{
    background-color: palevioletred;
    color: pink;
}