<div class="content">
    <h1>Edit Product</h1>
    <form (submit)="edit()">
      <h6 *ngIf="err" style="color:red">{{errors}}</h6>
      <div class="flexxx">
        <h6 *ngIf="errorName" style="color:red">{{errorName}}</h6>
        <span>Product Name:</span>
        <input type="text" [(ngModel)]="editProduct.name" name="editProduct.name">
      </div>
      <div class="flexxx">
        <h6 *ngIf="errorPrice" style="color:red">{{errorPrice}}</h6>
        <span>Product Price:</span>
        <input type="number" [(ngModel)]="editProduct.price" name="editProduct.price">
      </div>
      <div class="flexxx">
        <span>Image URL:</span>
        <input type="text" [(ngModel)]="editProduct.image" name="editProduct.image">
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
  
  