<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>These are the Quotes</h1>
    <%if(users) {%>
        <%for (var x of users) {%>
            <p><%= x.quote %></p>
            <p>- <%= x.name%>  <%= x.createdAt.toLocaleTimeString('en-us', { hour: '2-digit', minute: '2-digit', month: 'long', day: '2-digit', year: 'numeric' })%></p>
        <%}%>
    <%}%>
</body>
</html>