<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/cats.css">
    <title>Document</title>
</head>
<body>
    <h1>Kitties!</h1>
    <div class="photos">
        <a href="/senorFancy"><img src="/images/kitty3.jpg" alt="a cat"></a>
        <a href="/theMajestic"><img src="/images/kitty1.jpg" alt="a cat"></a>
        <a href="/stu"><img src="/images/kitty4.jpg" alt="a cat"></a>
    </div>
</body>
</html>