<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/submit" method="POST">
        <label>Your Name</label>
        <input type="text" name=name>
        <br>
        <label for="location">Dojo Location</label>
        <select name="location">
            <option value="Chicago">Chicago</option>
            <option value="Seattle">Seattle</option>
            <option value="Tulsa">Tulsa</option>
        </select>
        <br>
        <label for="language">Favorite Language</label>
        <select name="language">
            <option value="Python">Python</option>
            <option value="C">C#</option>
            <option value="MEAN">MEAN</option>
        </select>
        <br>
        <label for="comments">Additional Comments:</label>
        <textarea name="comments" id="comments" cols="30" rows="10"></textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>