<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/car.css">
    <title>Document</title>
</head>
<body>
    <div class="photos">
        <img src="/images/cars.jpg" alt="a car">
        <img src="/images/cars2.jpg" alt="a car">
        <img src="/images/cars3.jpg" alt="a car">
    </div>
</body>
</html>