<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 style="font-size: 100pt; font-family: Arial, Helvetica, sans-serif; color: red;">
    {{ title }}
  </h1>
</div>
<div style="display: flex; justify-content: space-between; margin-left: 20%; margin-right: 20%; margin-top: 10%;">
  <button (click)="showAll()">Show All Species</button>
  <button (click)="showOne()">Show Species by ID</button>
  <button (click)="create()">Add a Species</button>
</div>
<div style="display: flex; justify-content: center; margin-top: 10%;">
  <div *ngIf="one">
      <p *ngFor="let animal of animals">{{animal['name']}}</p>
  </div>
  <div *ngIf="two">
    <button *ngFor="let animal of animals" (click)="select(animal['_id'])">{{animal['_id']}}</button>
  </div>
  <div *ngIf="three">
      <h6 *ngIf="err" style="color:red">{{errors}}</h6>
   <form (submit)="actuallyCreate()">
        <input type="text" [(ngModel)]="newAnimal.name" name="newAnimal.name" placeholder="name" #name="ngModel" required>
        <input type="number" [(ngModel)]="newAnimal.population" name="newAnimal.population" placeholder="population" #name="ngModel" required>
        <input type="submit" value="Create Animal" />
    </form>
  </div>
  <div *ngIf="four">
      <h3>Species: {{animals['name']}}</h3>
      <h3>Population: {{animals['population']}}</h3>
      <!-- <h3 *ngFor="let animal of animals">Population: {{animal['population']}}</h3> -->
  </div>
  <div style="margin-top: 100px">
    <button (click)="clear()">Clear</button>

  </div>
</div>
