.content{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30%;
    margin-right: 30%;
}
h2{
    text-align: center;
    margin: 25px;
}
.flexxx{
    margin: 5px;
}
.flexxx input, textarea, select{
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #eeeeee;
}
h6{
    margin: 5px;
    color: red;
}
button{
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}
.justify{
    display: flex;
    justify-content: space-around;
}
.submit{
    border: 1px solid green;
    color: green;
}
.cancel{
    border: 1px solid red;
    color: red;
}
