<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
</div>
<!-- <h2>Here are the users: </h2> -->
<!-- <p *ngFor="let user of users">{{user['name']}}</p> -->
<!-- <ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->
<div style="display: flex; justify-content: space-between; margin-left: 20%; margin-right: 20%; margin-top: 10%;">
  <button (click)="showAll()">Show All Users</button>
  <button (click)="showOne()">Show User by ID</button>
  <button (click)="create()">Create User</button>
</div>
<div style="display: flex; justify-content: center; margin-top: 10%;">
  <div *ngIf="one">
      <p *ngFor="let user of users">{{user['name']}}</p>
  </div>
  <div *ngIf="two">
    <!-- <form>
      <input type="text" placeholder="id">
      <button type="submit">Submit</button>
    </form> -->
    <button *ngFor="let user of users" (click)="select(user['_id'])">{{user['_id']}}</button>
  </div>
  <div *ngIf="three">
      <form>
        <input type="text" placeholder="name">
        <button type="submit">Submit</button>
      </form>
  </div>
  <div *ngIf="four">
      <h3 *ngFor="let user of users">Name: {{user['name']}}</h3>
      <h3 *ngFor="let user of users">Joined: {{user['createdAt'] | date }}</h3>
  </div>
</div>
